* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Container Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Heading Styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Select Styles */
.select-genre {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
